body{
    background-color: rgba(0, 0, 0, 0.267)
}

#container{
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


#slide-out{
    background-color:bisque;
    margin-top: 1%; 
    height: 98%;
}

#main{
    padding-left: 0px
}

#fixed-action-btn{
    position:fixed; 
    z-index: 10000;
}